*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}
*,*::before, *::after  {box-sizing: border-box;}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
img{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

button{
    color: rgb(251, 253, 254);
    cursor: pointer;
}
a{
    text-decoration: none;
    display: block;
    color: aliceblue;
}
h1,h2,h3,h4{
    color: white;
}
html {
    font-family: "poppins" , regular;
}
.navbar-brand{
    color: rgb(239, 234, 234);  
    font-size: 30px;
    display: flex;
    align-items: center;
}
.navbar-brand i{
    rotate: -10deg;
}
.navbar-brand span{
    color: rgb(218, 49, 49);  
}

header,nav{
    top: 100%;
    background: rgb(31, 33, 49);
}
.movies,
.about {
    padding: 0 120px;
}

/* main container style */
.container{
    max-width: 100%;
    margin: auto;
    background: #4b6cb7; 
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  
    background: linear-gradient(to bottom, #182848, #4b6cb7);

}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background: #05060c;
    box-shadow: 0 0 20px rgba(236, 236, 238, 0.1);
    margin-bottom: 20px;
}
.navbar-menu-btn{
    display: none;
}
 .navbar-menu-close-btn {
    display: none; 
    
} 

/* .navbar.open .navbar-menu-close-btn {
    display: block;
}

.navbar.open .navbar-menu-btn {
    display: none; 
}

.navbar.open .navbar-nav {
    display: block; 
}  */

nav{
    margin-right: 200px;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: -170px;
    background-color: #02020b;
}
.navbar-nav li:not(:last-child) {
    margin-right: 60px;
}
.navbar-link{
    font-size: 14px;
    font-weight: 500;

}
.navbar-link:hover {
    color: rgb(103, 195, 241);
}
.navbar .fa-bars{
    display: none;
}

.navbar-actions:focus-within input {
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
/*search form*/

.navbar-actions {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  
  .navbar-form-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
  }
  
  .navbar-form-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .navbar-form-btn {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
  }
  
  .navbar-form-btn:hover i {
    color: #0bf4f4;
  }
  
  .navbar-actions:focus-within .navbar-form-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .navbar-form-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  


/*movies section*/
.movies{
    margin-bottom: 60px;
}
/*filter bar*/

.filter-bar select {
    color: white;
    font-size: 14px;   
    cursor: pointer;
    background: rgb(22, 32, 50);
    border: none;
    border-radius: 10px; 
    padding: 5px; 
    width: 7rem;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-top: 60px;

}

.filter-bar option {
    background: rgb(22, 32, 50);
}

/*movie cards section*/
.popular-title{
    font-size: 30px;   
    text-align: center;
    margin-bottom: 20px;
    color: #f2f2fa;
}


.movies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
    gap: 30px;
    margin-bottom: 50px;
}
.movies-card{
    cursor: pointer;
    width: 80%;
    height: 10%;
}
.movies-card .card-img{
    display: block;
    margin: 0 auto;
}
.movies-card:hover .card-img{
    transform: scale(1.1);
}
.movies-card .card-overlay{
    position: absolute;
    transform: scale(1.1);
}
.movies-card:hover .card-overlay{
    opacity: 1;
}
.movies-card .rating{
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: rgb(230, 238, 243);
}
.movies-card .rating{
    display: flex;
    text-align: center;
    right: 15px;
    background: rgba(22, 32, 50, 0.8);
}
.movies-card .rating span{
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

.movies-card i{
    font-size: 16px;
    display: block;
}
.movies-card .card-title{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.movies-card:hover .card-title{
    color: rgb(103, 195, 241);
}
.movies-card .card-info {
    position: absolute;
    display: flex;
    font-size: 12px;
    font-weight: 500;
}

.movies-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.movies-card .card-head {
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.card-body{
    display: flex;

}

/* for about section */
.about {
    padding: 40px 0;
}

.about-heading {
    text-align: center;
    margin-bottom: 40px;
    color: #faf7f7;
}

.about-card {
    max-width: 60%;
    margin: 0 auto;
    background-color: #02020b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.card-item {
    margin-bottom: 30px;
}

.card-item h3 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.card-item p {
    color: rgb(208, 212, 214);
    line-height: 1.6;
}

/*footer section*/
footer{
    background: #272a2b;
    margin-top: 45px;
}
.footer-brand{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;

}
.footer-brand span{
    color: red;
}

.footer-content .follow{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    margin: 15px 0;
}
.follow a{
    color: #f6f9f9;
}
.footer-content .text{
    margin-top: 10px;
}
.footer-content p{
    color: #fff;
}
.follow a:hover{
    color: rgb(103, 195, 241);
    transition: none;
}
.footer-content .text{
    text-align: center;
    font-size: 20px;

}
.footer-content .copyright{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 40px;
}


/*overview whole*/
.overview-bar{
    margin-top: 70px;
}
.card-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 20px 0;
}
.movie-card {
    width: 80%;
    height: 80%;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 50px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: aliceblue;
    z-index: 3;
}

/* .card-image{
    height: 60%;
    object-fit: contain;
    background-color: #4b6cb7;

} */
.card-image img{
    height: 390px;
    width: 140%;
    border-radius: 15px;

    
}
.card-rating{
    font-size: 20px;
    margin-bottom: 20px;
}
.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 100px ;
}

.title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #02020b;
}
.overview-title{
    font-size: 25px;
    color: #02020b;
}
.card-description {
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    overflow: scroll;
}
.card-description span{
    font-weight: 800;
    font-size: 25px;
}
  
.info span{
    font-size: 25px;
    font-weight: 800;
}

/*footer section*/
footer{
    background: rgb(8, 12, 31);
    margin-top: 40px;
}
.footer-brand{
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.footer-brand span{
    color: red;
}

.footer-content .follow{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.follow a:hover{
    color: rgb(103, 195, 241);
    transition: none;
}
.footer-content .text{
    text-align: center;
    font-size: 20px;
}
.footer-content .copyright{
    display: flex;
    justify-content: center;
    margin: 10px;
}




/*responsive*/

@media only screen and (min-width: 630px) and (max-width: 991px){  
    .movies,
    .about {
        padding: 0 50px;
    }
    .navbar-brand{
        font-size: 25px;
        margin-right: -30px;
    }
    .navbar{
        height: 60px;
    }
    .navbar-menu-btn {
        display: block;
        z-index: 100;
    }
    .navbar {
        padding: 0 40px;
    }

    nav{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(6, 6, 6);
        margin-left: -60px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        z-index: 5;
    }
    .navbar-nav #about{
        margin-left: -50px;
    }
    .navbar-nav li {
        margin: 10px 0;
    }
    .navbar-link {
        color: #fff;
    }
    .navbar-menu-btn .fa-bars {
        display: block; 
        font-size: 20px; 
        opacity: 1;
        color: #121212;
    }
    .navbar-menu-close-btn {
        display: none; 
        font-size: 20px; 
        opacity: 1;
        color: #121212;
        z-index: 100;
    }

    /* to show nav bar when it is active */
    /* .navbar-menu-btn.active ~ nav {
        display: block;
    }
    .navbar-menu-btn.active .fa-bars {
        display: block;
    } */

    header.active nav.active {
        display: block;
    }
    
    header nav {
        display: none; 
    }
    
    /* Ensure proper positioning and behavior */
    .navbar {
        position: relative;
    }
    .navbar-actions {
        width: fit-content;
        height: fit-content;
        position: relative;
      }
      
      .navbar-form-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color: #fff;
      }
      
      .navbar-form-search::placeholder {
        color: rgba(255, 255, 255, .5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
      }
      
      .navbar-form-btn {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
      }
      
      .navbar-form-btn:hover i {
        color: #0bebeb;
      }
      
      .navbar-actions:focus-within .navbar-form-search {
        width: 240px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      
      .navbar-form-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }

    .movies-grid{
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
        gap: 20px;
        margin-bottom: -40px;
    }
    .movies-card .play i{
        font-size: 50px;
    }

    .movies-card .card-title{
        font-size: 15px;
        margin-bottom: 4px;
    }
    .movies-card .card-info {
        font-size: 12px;
        font-weight: 500;
    }
    .movies-card .genre{
        margin-left: -80px;
    }
    .movies-card .year{
        margin-left: -60px;
    }
    .movies-card .card-head {
        height: 200px;
        border-radius: 15px;
        margin-bottom: 12px;
        margin-top: 10px;
    }

    /*about card*/
    .about {
        padding: 40px 0;
        margin-bottom: -20px;
    }
    
    .about-heading {
        margin-bottom: 40px;
        color: #faf7f7;
    }
    
    .about-card {
        max-width: 80%;
        margin: 0 auto;
        background-color: #02020b;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }
    
    .card-item {
        margin-bottom: 30px;
    }
    
    .card-item h3 {
        color: white;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .card-item p {
        color: rgb(208, 212, 214);
        line-height: 1.6;
    }
    
}

@media only screen and (max-width: 629px){
    .navbar,
    .movies,
    .about {
        padding: 0 40px;
    }
    .navbar-brand{
        font-size: 25px;
        margin-right: -30px;
    }
    .navbar{
        height: 60px;
    }
    .navbar-menu-btn {
        display: block;
        z-index: 100;
    }
    .navbar {
        padding: 0 40px;
    }

    nav{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(6, 6, 6);
        margin-left: -60px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .navbar-nav #about{
        margin-left: -50px;
    }
    .navbar-nav li {
        margin: 10px 0;
    }
    .navbar-link {
        color: #fff;
    }
    .navbar-menu-btn .fa-bars {
        display: block; 
        font-size: 17px; 
        opacity: 1;
        color: #121212;
    }.navbar-menu-close-btn {
        display: block; 
        font-size: 17px; 
        opacity: 1;
        color: #121212;
        z-index: 100;
    }
    /* to show nav bar when it is active */

    header.active nav.active {
        display: block;
    }
    
    header nav {
        display: none; 
    }
    
    /* .navbar-menu-btn.active ~ nav {
        display: block;

    }
    .navbar-menu-btn.active .fa-bars {
        display: block;
    } */


        .navbar-actions {
        width: fit-content;
        height: fit-content;
        position: relative;
        }
      
      .navbar-form-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color: #fff;
      }
      
      .navbar-form-search::placeholder {
        color: rgba(255, 255, 255, .5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
      }
      
      .navbar-form-btn {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
      }
      
      .navbar-form-btn:hover i {
        color: #030404;
      }
      
      .navbar-actions:focus-within .navbar-form-search {
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      
        .navbar-form-search:focus {
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }
    .movies-grid{
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
        gap: 10px;
        margin-right: -27px;
        margin-bottom: -50px;

    }
    .movies-card .card-title{
        font-size: 12px;
    }
    .movies-card .card-info {
        font-size: 10px;
    }
    .movies-card .card-head {
        height: 190px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /*about card*/
    .about {
        padding: 40px 0;
        margin-bottom: -40px;
    }
    
    .about-heading {
        margin-bottom: 30px;
        color: #faf7f7;
    }
    
    .about-card {
        max-width: 80%;
        margin: 0 auto;
        background-color: #02020b;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }
    
    .card-item {
        margin-bottom: 30px;
    }
    
    .card-item h3 {
        color: white;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .card-item p {
        color: rgb(208, 212, 214);
        line-height: 1.6;
    }


}
/*for overview tab*/

@media only screen and (min-width: 761px) and (max-width: 1131px){
    .card-container {
        height: 80vh;
        margin: 20px 0;
    }
    .movie-card {
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
        margin-top: 110px;
        padding: 10px 40px;
    }
    /* .card-image{
        height: 40%;
        margin-top: 7px;
        margin-left: 20px;
        margin-right: 20px;
    } */
    .card-image img{
        height: 300px;
        width: 200px;
        border-radius: 15px;
        
    }
    .card-rating{
        font-size: 17px;
        margin-bottom: 20px;
    }
    .card-body {
        width: 15000px;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 40px;
        color: #02020b;
    }
    
    .card-description {
        font-size: 15px;
        text-align: center;
        overflow: scroll;
    }
    .card-description span{
        font-weight: 800;
        font-size: 25px;
        
    }
      
    .info span{
        font-size: 25px;
        font-weight: 800;
    }
}

@media only screen and (max-width: 760px){
    .movie-card {
        width: 90%;
        height: 80%;
        margin-bottom: 10px;
        margin-top: 80px;
        padding: 0 60px;
        display: flex;
        flex-direction: column;
    }
    /* .card-image{
        height: 40%;
        margin-top: 7px;
    } */
    .card-image img{
        height: 80%;
        width: 200px;
        border-radius: 15px;
        margin-top: 10px;
        margin-left: calc(50% - 100px);
        
    }
    .card-rating{
        font-size: 17px;
        margin-bottom: 20px;
    }
    .title{
        margin-top: 2px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    
    .card-body {
        height: 6% ;
        display:contents;
    }
    
    .overview-title {
        font-size: 22px;
        color: #02020b;
        margin-bottom: 10px;

    }
    .card-description {
        font-size: 15px;
        height: 180px;
        text-align: center;
        overflow: scroll;
    }
    .card-description span{
        font-weight: 800;
        font-size: 22px;
    }
      
    .info span{
        font-size: 22px;
        font-weight: 800;
        
    }
    .info p{
        font-size: 15px;
        font-weight: 800;
        
    }
    .info{
        margin-top: -10px;
    }
}



   
